.experience-card {
  display: flex;
  border-radius: 24px;

  &__logo {
    width: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-right: 50px;
  }

  &__company {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  &__company svg {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    right: -25px;
  }

  &__position {
    margin-bottom: 1px;
  }

  &__description {
    margin-bottom: 20px;
  }

  &__working-period {
    color: $dark-purple;
    font-size: 16px;
    margin-bottom: 15px;
  }

  &__logo svg {
    width: 150px;
  }

  &__stack {
    display: flex;
    flex-wrap: wrap;
  }

  &__stack p {
    font-size: 16px;
    color: $dark-purple;
    margin-right: 20px;
  }
}

@include for-tablet-portrait-up {
  .experience-card {
    flex-direction: column;
    align-items: center;

    &__logo {
      margin-right: 0;
      margin-bottom: 20px;
    }

    &__stack {
      justify-content: center;
    }

    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}