.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 75px 0 45px;

  a {
    font-size: 18px;
  }

  @include for-phone-only {
    padding: 45px 0 25px;

    a {
      font-size: 14px;
    }
  }
}