.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 95px 0 45px;

  a {
    font-size: 18px;
    display: flex;
    align-items: center;

    img {
      margin-left: 15px;
      width: 30px;
      border-radius: 50%;
      height: 30px;
    }
  }

  @include for-phone-only {
    padding: 45px 0 25px;

    a {
      font-size: 14px;
    }
  }
}