.article {
  padding-top: 80px;

  &__title {
    text-align: center;
  }

  &__image {
    width: 100%;
    height: 550px;
    object-fit: cover;
  }

  &__hr,
  &__title, 
  &__image,
  &__heading,
  &__paragraph, 
  &__code-block,
  &__asset-block,
  &__ordered-list,
  &__unordered-list {
    margin-bottom: $article_mb;
  }
}

@include for-tablet-landscape-up {
  .article {
    &__image {
      height: 400px;
    }
  }
}