* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: $black;
  font-family: $lato;
}

h2 {
  font-size: 35px;
  color: $black;
}

a {
  color: $black;
  font-family: $lato;
  text-decoration: none;
}

ol, ul {
  list-style-type: none;
}

p {
  color: $black;
  font-size: 18px;
  line-height: 26px;
}

.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.highlighted {
  color: $blue;
}

.highlighted-icon {
  transition: all .3s;
}

.underlined {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    height: 3px;
    width: 100%;
    max-width: 100px;
    background-color: $blue;
  }
}

@include for-tablet-landscape-up {
  .container {
    max-width: 1000px;
  }
}