$light: #E7E9FB;
$dark: #070434;
$dark-purple: #4D4968;
$light-purple: #a8a5ce;
$soft-purple: #8C8AAD;
$blue: #006ef1;
$white: #fff;
$black: #030303;
$red: #EC331F;
$light-gray: #f4f6fa;

$article_mb: 25px;

$lato: 'Lato';
$nunito: 'Nunito';
$roboto: 'RobotoMono';